
// foundation with custom settings
@import "settings";
@import "custom_foundation";

// foundation-datepicker
$fdatepicker-ui-primary: $primary-color;
$fdatepicker-ui-color: #000;
$fdatepicker-ui-bg: #fff !default;
$fdatepicker-ui-disabled: #bbb !default;
$fdatepicker-ui-border-color: #000 !default;
$fdatepicker-ui-border-transparency: 0.2 !default;
$fdatepicker-ui-border: 0px solid rgba($fdatepicker-ui-color, $fdatepicker-ui-border-transparency) !default;
$fdatepicker-ui-shadow: 0 5px 10px rgba($fdatepicker-ui-color, $fdatepicker-ui-border-transparency) !default;
$fdatepicker-ui-border-radius: 5px;
$fdatepicker-ui-before-color: #999;
$fdatepicker-ui-old-new-color: #999 !default;
$fdatepicker-ui-text-color: #333 !default;
$fdatepicker-inline-width: 220px !default;
@import "foundation-datepicker.scss";
.datepicker{
	table thead, table tbody, table tfoot{
		border: 0px;
	}
}

@import "motion-ui";
@include motion-ui-transitions;

// fonts
@import "font-awesome";


// IMPORT CUSTOM STYLES (improve this!) by Martin not needed anymore
// @import 'myvent';

// custom mixins
@import "mixins";

// custom modules
@import "modules/map";
@import "modules/event";
@import "modules/customTabs";
@import "modules/customTopBar";
@import "modules/header";
@import "modules/datebox";
@import "modules/footer";
@import "modules/eventList";