@charset 'utf-8';

// WTF?
$primary-color-t: rgba(18,161,154,0);

//Image in topbar:
#userpic {
	height: 2rem;
	width: auto;
	
}
//Sprechblasen-Effekt fehlt noch!
#usermenu {
	color: $dark-gray;
	list-style-type: none;
	padding-bottom: 0.5em;
	border: 1px solid $medium-gray;
	height: 4rem;
	font-size: 0.8em;
	width: auto;
	margin-top: 0rem;
	margin-right: 5em;

.dashline {
	border-bottom: 1px dashed $medium-gray;
}

}

#bg-image {
	background: url('../Bilder/myvents_bg_hauptseite_unscharf2.jpg') #000;
	height: 20em;
	width: 100.5%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2em;

	
}

input[type="search"] {
	padding-left: 1.5rem;
	width: 80%;
}	
.search-events {
	position: relative;
	padding-top: 3rem;
	padding-left: 2rem;
	text-align: center;
	background-color: $primary-color-t;

}


.menu tbody{
	color: $white;
	background-color: $primary-color;
	border-collapse: separate;
	border-spacing: 4em;
	border-color: $primary-color;
	font-size: 1.2em;
	padding: 2em;
	margin-top: 2em;
}

.header {
	text-align: left;
	background-color: $primary-color; 
	
	height: 11em;
	
	padding: 0.5rem;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	border-radius: 5px;

	
}


//sub-nav used in the header for "Liste" and "Karte"
.header-subnav {
	margin-top: 1em;
	margin-left: 0em;
	margin-bottom: 2em;
	padding-left: 1em;
	float: none;
	position: relative;
	background-color: $white;


	

	li {
		float: left;
		display: inline-block;
		margin-bottom: 0;
		&:hover {
		//background: rgba (250,250,250,0.7);
		color: $primary-color;
		border-bottom-color: $primary-color;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		transistion: all .50s ease-in-out;
		}
	}
	a {
		padding: 0.9rem 1rem 0.75rem;
		font-size: 1rem;
		color: #fff;
		text-transform: uppercase;
		display: block;
		font-weight: bold;
		letter-spacing: 1px;
	}
	&.is-active {
		background: rgba (250,250,250,0.7);
		color: $primary-color;
		
		
	}

	
}
.events {
	color: $black;
	clear: both;
	
	border-collapse: separate;
	border-radius: 5px;
	margin-bottom: 2em;

	

}
.indiv-event {
	border: 1px solid $primary-color;
	border-collapse: collapse;
	background-color: $white;
	color: $dark-gray;
	margin-top: 2rem;
	margin-bottom: 4rem;
	border-radius: 5px;
	img {
		//width: 300px;
		//height: auto;
		margin-bottom: 2srem;
	}



}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.edesc { //edesc = event description
	color: $medium-gray;
	//padding-left: 1em;
}	
#dDate {
	color: $dark-gray;
	padding-left: 1em;
}	
#mDate {
	font-weight: 700;
	color: $primary-color;
}

a span{
	color: $body-font-color;
	vertical-align: inherit;
	
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
   
#mDate {
	color: $primary-color;
	font-style: bold;

}
#test1 {
	background-color: green;
	font-size: 1.5em;
	color: $dark-gray;
	height: 20em;
	z-index: 2;
}
#test2 {
	
	color: #0101DF;
	z-index: 1;
	height: 8em;
	position: absolute;
	
}
}
#pop-up {
	background-color: $white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	

	.t_label {
		color: $medium-gray;
		width: 10%;
		vertical-align: text-top;
	}
	.fa {
		color: $dark-gray;
	}
	.button {
		width: 100%;
	}
	.button, hollow-button {
		border-radius: 5px;
	}
#share_Reveal_Modal10 {
	border-radius: 10px;
	img {
		margin-left: auto;
		margin-right: auto;
	}
	p {
		text-align: center;
	}
	#share-logos {
		margin-left: auto;
		margin-right: auto;
		color: $primary-color;
	}
}
#rate_Reveal_Modal10 {
	border-radius: 10px;
	img {
	margin-left: auto;
	margin-right: auto;
	}
	p {
		text-align: center;
	}
	#rating_stars {
		margin-left: auto;
		margin-right: auto;
		color: $primary-color;
	}

}	
#logo { 
	margin-right: 25%; //didn't work with margin:auto;
	margin-left: 25%;
}


	#hint {
		color: $medium-gray;
		font-size: 1.2em;
	}
	#hint2 {
		color: $medium-gray;
		font-size: 1.5em;
		text-align: center;
		.fa {
			//color: #3b5998; //Das_FB_Blau
		}
	}


}

#myv_settingpage {
	h1 {
		padding-left: 0.8em;
		text-transform: uppercase;
		color: $dark-gray;
		font-size: 1.5rem;

	}
	h2 {
		padding-left: 1.5em;
		text-transform: uppercase;
		color: $dark-gray;
		font-size: 1rem;


	}
	p {
		color: $dark-gray;
	}
	img {
		margin-bottom: 1em;
		padding-top: 0;
		border: 1px solid $black;
	}
	.button.hollow {
		border-radius: 10px;
		border-color: $medium-gray;
		color: $dark-gray;

	}
	.input-group-label {
		border-radius: 10px 0px 0px 10px;
		width: 20%;
		background-color: $white;
		color: $dark-gray;
		margin-left: 5rem;

	}
	.input-group-field {
		border-radius: 0px 10px 10px 0px;
		color: $dark-gray;
	}
	.switch{
		margin-left: 1rem;
		
		
	}
	.notes01 {
		color: $dark-gray;
		margin-bottom: 2rem;
		font-size: 1rem;
	}
	.button {
		border-radius: 10px;
	}
}