.top-bar-left {
	margin-top: 10px;
}

.top-bar-left,
.top-bar-right {
	z-index:1;

	.submenu{
		z-index:1;
	}

	a{
		span{
			color: $dark-gray;
		}

		img{
			border-radius: 5px;
		}
	}
}

#nav{
	>div{
		background: $white;
	}
	.sticky{
		z-index:1;
	}
	.sticky.is-stuck{
		@include box-shadow(0px, 0px, 10px, rgba(0,0,0,0.5));
	}

}


//RESPONSIVE MENU
.title-bar{
	background: $white;

	button{
		color: $dark-gray;
	}
}

// PREVENT DISPLAY OF RESPONSIVE MENU
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}