#event-tabs{
	position: absolute;
	bottom: 0px;

	.tabs-title{
		&.is-active, &:hover{
			border-bottom: 5px solid #12a19a;
			transition: border-bottom 300ms;

			a{
				color: $white;
				opacity: 1;
			}
		}

		a{
			color: $white;
			opacity: .6;
			text-transform: uppercase;
		}
	}
}