.date-box{
	display: block;
	width: 30px;
	height: 40px;
	border-radius: 5px;
	margin: 10px;
	position: relative;
	background: $light-gray;

	.date-box-day,
	.date-box-month{
		font-weight: 700;
		text-align: center;
		line-height: 1.1rem;
		text-transform: uppercase;

	}
	.date-box-day{
		color: $primary-color;
		
	}

	.date-box-month{
		font-size: .9rem;
	}

	.date-box-time{
		font-size: .8rem;
		background: $primary-color;
		color: $white;
		text-align: center;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&.second:before{
		content: "-";
    	position: absolute;
    	top: -15px;
    	left: 12px;
	}
}