.event{
	border: 1px solid $light-gray;
	border-radius: 5px;
	margin-bottom: 2rem;

	@include box-shadow();


	.description{
		color: $dark-gray;
		max-height: 50px;
		overflow: hidden;
		transition: all 300ms ease-in;
		padding-right: 10px;
		position: relative;
		margin-bottom: 2rem;

		transition: all 400ms ease-in;	

		&:after{
			content: "";
			display: block;
			position: absolute;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 1;

			transition: opacity 400ms ease-in;
		}

		&:hover{
			max-height: 1000px;

			transition: all 400ms ease-in;		
			
			&:after{
				opacity: 0;
				transition: opacity 400ms ease-in;
			}	
		}
	}

	h3{
		font-size: 1.3rem;
		margin-top: 10px;
		margin-bottom: 1rem;
	}

	.actions {
		text-align: right;
		margin: 10px;
		a{
			color: $light-gray;
			transition: all 300ms;
			margin-left: 5px;
			
			&:hover{
				color: $primary-color;
				transition: all 300ms;
			}
		}

		.delete{
			color: $alert-color;
		}
	}

	.event-image-container{
		height: 200px;
		overflow: hidden;
		position: relative;
		background-size: cover!important;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}