$headerHeight: 400px;

.header{
	min-height: $headerHeight;
	background-size: cover!important;
	position: relative;
	z-index: 0;

	&:before{
    	content: "";
	    top: 0px;
	    position: absolute;
	    width: 100%;
	    height: $headerHeight;

	    filter: url("../images/blur.svg#blur");
	    -webkit-filter: blur(5px);
	    filter: blur(5px);
	    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');

	    background: inherit;
	    overflow:hidden;

	    z-index: -1;
	}

	&:after{
		content: "";
		background: rgba(0, 0, 0, 0.4);
		top: 0px;
	    position: absolute;
	    width: 100%;
	    height: $headerHeight;
	    z-index: -1;
	}

	>.large-5{
		position: relative;
		padding-top: 8rem;

		form{
			background: transparentize($primary-color, .25);
			border-radius: 5px;

			padding: 3rem;
			@include box-shadow(0px, 0px, 10px, rgba(0,0,0,0.5));
		}


		form{
			input, select{
				background: rgba(255,255,255,0.05);
				border: 0px;
				color: $white;
				box-shadow: 0px 0px 0px;
				height: 3rem;

				transition: all 400ms ease-in;

				&:hover{
					background: rgba(255,255,255,0.15);
					transition: all 400ms ease-in;
				}
			}
		}
	}

}